<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shaowei.streaming">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!--    used by MediaProjection-->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Register as a system camera app -->
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <action android:name="android.media.action.STILL_IMAGE_CAMERA" />
                <action android:name="android.media.action.VIDEO_CAMERA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".image.ImageActivity" />
        <activity android:name=".audio.AudioActivity" />
        <activity android:name=".camera.CameraIndexActivity" />
        <activity android:name=".camera.CameraIntentActivity" />
        <activity android:name=".camera.camerax.CameraXSimpleActivity" />
        <activity android:name=".camera.cameraapi.CameraActivity" />
        <activity android:name=".camera.cameraapi.LiveCameraTextureViewActivity" />
        <activity android:name=".camera.cameraapi.LiveCameraSurfaceViewActivity" />
        <activity android:name=".camera.camera2api.Camera2Activity" />
        <activity android:name=".camera.camerax.CameraxEnhanceActivity" />
        <activity android:name=".mediaExtractor.MediaExtractorActivity" />
        <activity android:name=".mediaMuxer.MediaMuxerActivity" />
        <activity android:name=".mediacodec.MediaCodecActivity" />
        <activity android:name=".cast.server.CastScreenServerActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>